.linked_logo:hover{
    filter: drop-shadow(0rem 0rem 0.5rem rgba(46, 116, 255, 0.7));
    z-index: 10;
}

.github_logo:hover{
    filter: drop-shadow(0rem 0rem 0.5rem rgba(136, 137, 141, 0.5));
    z-index: 10;
}

.gmail_logo:hover{
    filter: drop-shadow(0rem 0rem 0.5rem rgba(250, 73, 73, 0.5));
    z-index: 10;
}